.article {
  width: 728px;
  font-size: 19px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: rgb(34, 34, 34);
  text-align: justify;
  margin: 0 auto;
}

.article p {
  margin: 28px 0;
}

.article img {
  width: 100%;
}

.article strong {
  list-style: none;
  text-decoration: underline;
}
